* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%; /* 横幅いっぱい */
  height: 50px; /* 高さ50px */
  background-color: red; /* 背景色red */
}

.main-visual {
  width: 100%; /* 横幅いっぱい */
  height: 500px; /* 高さ500px */
  background-color: orange; /* 背景色orange */
}


.main {
  width: 960px; /* 横幅960px */
  height: 1400px;
  margin: 0 auto; /* 中央寄せ（左右に余白がないとできない） */
  background-color: limegreen; /* 背景色limegreen */
}

.blog {
  width: 500px; /* 横幅600px */
  height: 1400px; /* 高さ1400px */
  margin: 0 auto; /* 中央寄せ（左右に余白がないとできない） */
  background-color: palegreen; /* 背景色palegreen */
}


.footer {
  width: 100%; /* 横幅いっぱい */
  height: 120px; /* 高さ120px */
  background-color: rgb(60, 0, 128); /* 背景色blue */
}